body{
  padding:0;
  margin: 0;
}
.topbar{
  padding:0;
  margin: 0;
  background-color: #111;
  height: 5em;
}

ul.rightbar{
  list-style-type: none;
  display: block;
  vertical-align: bottom;
}
ul.rightbar li{
  float: left;
}
ul.rightbar li a{
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  color: orange;
}
.rightbar li a:hover{
  color: #fff;
}
.rightbar li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #DC143C;
  transition: 0.4s;
}
.rightbar a:hover:after {
  width: 100%;
}
