@import 'https://fonts.googleapis.com/css?family=Poiret+One|Roboto+Condensed|Rock+Salt';

body{
  padding:0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
/* Title/Logo */
.title{
  text-align: center;
}
.Ucase{
  font-family: 'Rock Salt', cursive;
  font-size: 36px;color: #DC143C;}
.Lcase{
  font-family: 'Poiret One', cursive;
  font-size: 28px;color: #fff;}

/*Navigation Bar*/
.topbar{
  padding:0;
  margin: 0;
  background-color: #111;
  height: auto;
  font-family: 'Roboto Condensed', sans-serif;
}
ul.rightbar{
  list-style-type: none;
  display: block;
}
ul.rightbar li{
  float: left;
}
ul.rightbar li a{
  display: inline-block;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  color: orange;
}
.rightbar li a:hover{
  color: #fff;                    /*font color change on hover*/
}
.rightbar li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #DC143C; /*transition for border-bottom on hover*/
  transition: 0.4s;
}
.rightbar a:hover:after {
  width: 100%;
}

/*main image*/
.main-img{
  background-image: url(../img/main-img.jpg),url(../img/main-img2.jpg);
  background-position:left;right:
  background-repeat: no-repeat, no-repeat;
  background-size: contain;
  height:30em;opacity: 0.9;
}
.tagline{
  padding-top: 10em;
  height:22em;
  text-align: center;
}
.tagline h2{
  font-family: 'Poiret One', cursive;color: #DC143C
}
.tagline p{
  font-family: 'Roboto Condensed', sans-serif;color:#111;
}
